<scan-splash status="notavCtrl.splashStatus" massage="go to room & scan or tap"></scan-splash>
<div class="notavailable-state sliderdemoVertical" layout-fill>
	<md-content layout="column" layout-fill class="room-state-content alert-modal">
		<h1>Sorry!</h1>
		<md-icon md-svg-src="./images/sad.svg" class="s24" aria-label="Funny"></md-icon>
		<!-- <md-button 	class="available-rooms-btn md-raised"
								ng-click="notavCtrl.fallbacks($event)"
								ng-if="notavCtrl.havFallbacks()">
				see rooms available
		</md-button> -->
		<p>The current meeting in this room ends at</p>
		<bold class="time">{{:: notavCtrl.until}}</bold>
		<md-button 	class="next-metting-info md-icon-button"
								aria-label="More"
								ng-click="notavCtrl.nextMeetingInfo($event)">
			<i class="material-icons">info_outline</i>
		</md-button>
	</md-content>
</div>
