<md-dialog class="not-avilable-modal" aria-label=""  ng-cloak>
    <md-dialog-content>
      <bold>{{:: notAvilableCtrl.locals.room.id}} is </bold>
      <h1>UNAVILABLE!</h1>
      <i class="material-icons">sentiment_dissatisfied</i>
      <h2>THIS ROOM IS BOOKED UNTIL</h2>
      <bold>{{:: notAvilableCtrl.until}}</bold>
      <!-- <md-button 	class="next-metting-info md-icon-button"
                  aria-label="More"
                  ng-click="notAvilableCtrl.nextMeetingInfo($event)">
        <i class="material-icons">info_outline</i>
      </md-button> -->
      <!-- <md-button class="md-raised" ng-click="notAvilableCtrl.goOptions()">FALLBACKS</md-button> -->
    </md-dialog-content>
</md-dialog>
