.fallbacks-modal{


  h2{
    font-size: 30px;
    text-transform: uppercase;
  }

  md-list-item{
    border-bottom: 1px solid #bdbdbd;

    &:last-child{
      border-bottom: none;
    }

    .md-button{
      ._md-list-item-inner{
        .md-list-item-text{

          h3{
            font-size: 22px;
            font-weight: 600;
            text-transform: uppercase;

            span{
              font-size: 22px;
              font-weight: 200;
              margin-left: 14px;
            }
          }
        }
      }
    }
  }


}
