.booked-success-modal{
  background-color: #10171D;
  text-align: center;

  h1{
    font-size: 67px;
    color: #8fef93;
    padding: 14% 0 4% 0;
    margin: 0;
  }

  i{
    font-size: 150px;
    color: #21aed8;
    opacity: 0.7;
  }

  h2{
    font-size: 40px;
    color: #8fef93;
    padding: 4% 0 4% 0;
    margin: 0;
    font-weight: 400;
  }

  p{
    color: white;
    font-size: 30px;
    padding: 8%;
    margin: 0;

    bold{
      color: #8fef93;
      margin: 0;
      font-size: 30px;
      padding: 9px;
    }
  }

  bold{
    font-size: 67px;
    color: #8fef93;
    padding: 14% 0 4% 0;
    margin: 0;
  }
}
