.reserve-countdown-modal{
  background-color: #10171D;
  text-align: center;

  bold{
    font-size: 40px;
    color: #8fef93;
    margin: 0;
    padding: 8% 0 3% 0;
    display: block;
  }

  h1{
    font-size: 40px;
    color: #8fef93;
    padding: 14% 0 4% 0;
    margin: 0;
  }

  i{
    font-size: 150px;
    color: #21aed8;
    opacity: 0.6;
  }
}
